@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    perspective: 1px;
}

header {
    width: 100%;
    height: 100vh;
    position: relative;
    overflow: hidden;

    & .nav-header {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        padding: 1rem 0;
        z-index: 5;
        background: linear-gradient(to bottom, rgba(0, 0, 0, 0.05), transparent);

        & .nav-container {
            display: flex;
            justify-content: space-between;
            align-items: center;
            max-width: 70rem;
            padding: 0 2rem;
            margin: 0 auto;

            & .logo {
                color: #fff;
                font-size: 1.1rem;
                text-transform: uppercase;
                font-weight: 600;
                letter-spacing: 2px;

                & span {
                    font-weight: 300;
                }
            }

            & .hamburger-menu {
                width: 1.55rem;
                height: 1.5rem;
                cursor: pointer;
                display: flex;
                align-items: center;
                justify-content: flex-end;

                & .bar {
                    position: relative;
                    width: 1.2rem;
                    height: 3px;
                    background-color: #fff;
                    border-radius: 2px;
                }

                & .bar:before, .bar:after {
                    content: '';
                    position: absolute;
                    width: 1.55rem;
                    height: 3px;
                    right: 0;
                    background-color: #fff;
                    border-radius: 2px;
                }

                & .bar:before {
                    transform: translateY(-8px);
                }

                & .bar:after {
                    transform: translateY(8px);
                }
            }
        }
    }

    .big-title {
        position: absolute;
        z-index: 5;
        line-height: 4rem;
        top: calc(50% - 2rem);
        width: 101%;
        text-align: center;
        font-size: 5rem;
        font-weight: 600;
        color: #fff;
    }

    & .person {
        position: absolute;
        width: 650px;
        bottom: -100px;
        left: -70px;
        z-index: 4;
    }

    & .mountain1 {
        position: absolute;
        bottom: -100px;
        width: 1500px;
        right: 0;
        z-index: 3;
    }

    & .mountain2 {
        position: absolute;
        width: 1128px;
        bottom: -110px;
        left: 0;
        z-index: 2;
    }

    & .mountain3 {
        position: absolute;
        width: 985px;
        bottom: 136px;
        right: 0;
        z-index: 1;
    }

    & .sky {
        position: absolute;
        width: 1585px;
        bottom: 263px;
        right: 0;
    }
}

.section-about-me {

    background-color: #151515;
    position: relative;

    & .shadow {
        position: absolute;
        bottom: 100%;
        height: 300px;
        width: 100%;
        left: 0;
        z-index: 4;
        background: linear-gradient(to top, #151515, transparent);
    }

    & .about-me-container {
        padding: 3rem;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        align-items: center;
        justify-content: center;
        min-height: 100vh;

        & .about-me-content {

            margin: 2rem;
            color: #fff;

            & .about-me-title {
                font-weight: 600;
                font-size: 1.5rem;
                margin-bottom: 1rem;
                padding-bottom: .5rem;
                position: relative;
            }

            & .about-me-title::before {
                content: '';
                position: absolute;
                left: 0;
                bottom: 5px;
                width: 19%;
                height: 3px;
                background-color: #fff;
            }
        }

        & .imgContainer {
            margin: 15%;

            & .about-me-img {
                opacity: 0.6;
                width: 100%;
                transition: transform 0.8s ease, filter 1s ease;
            }
            & .about-me-img:hover {
                filter: drop-shadow(5px 5px 10px white);
                transform: scale(1.05);
            }
            & .about-me-img:active {
                pointer-events: none;
                border: 5px solid white;
                transform: scale(1.05);
                transition: border 0.2s ease, filter 1s ease;
            }

        }
    }
}


