@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

body {
    font-family: 'Poppins', sans-serif;
    perspective: 1px;
}

header {
    width: 100%;
    height: 100vh;
    position: relative;
    overflow: hidden;

    & .nav-header {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        padding: 1rem 0;
        z-index: 5;
        background: linear-gradient(to bottom, rgba(0, 0, 0, 0.05), transparent);

        & .nav-container {
            display: flex;
            justify-content: space-between;
            align-items: center;
            max-width: 70rem;
            padding: 0 2rem;
            margin: 0 auto;

            & .logo {
                color: #fff;
                font-size: 1.1rem;
                text-transform: uppercase;
                font-weight: 600;
                letter-spacing: 2px;

                & span {
                    font-weight: 300;
                }
            }

            & .hamburger-menu {
                width: 1.55rem;
                height: 1.5rem;
                cursor: pointer;
                display: flex;
                align-items: center;
                justify-content: flex-end;

                & .bar {
                    position: relative;
                    width: 1.2rem;
                    height: 3px;
                    background-color: #fff;
                    border-radius: 2px;
                }

                & .bar:before, .bar:after {
                    content: '';
                    position: absolute;
                    width: 1.55rem;
                    height: 3px;
                    right: 0;
                    background-color: #fff;
                    border-radius: 2px;
                }

                & .bar:before {
                    transform: translateY(-8px);
                }

                & .bar:after {
                    transform: translateY(8px);
                }
            }
        }
    }

    .big-title {
        position: absolute;
        z-index: 5;
        line-height: 4rem;
        top: calc(50% - 2rem);
        width: 101%;
        text-align: center;
        font-size: 5rem;
        font-weight: 600;
        color: #fff;
    }

    & .person {
        position: absolute;
        width: 650px;
        bottom: -100px;
        left: -70px;
        z-index: 4;
    }

    & .mountain1 {
        position: absolute;
        bottom: -100px;
        width: 1500px;
        right: 0;
        z-index: 3;
    }

    & .mountain2 {
        position: absolute;
        width: 1128px;
        bottom: -110px;
        left: 0;
        z-index: 2;
    }

    & .mountain3 {
        position: absolute;
        width: 985px;
        bottom: 136px;
        right: 0;
        z-index: 1;
    }

    & .sky {
        position: absolute;
        width: 1585px;
        bottom: 263px;
        right: 0;
    }
}

.section-about-me {
    height: 100vh;
    background-color: #151515;
    position: relative;

    & .shadow {
        position: absolute;
        bottom: 100%;
        height: 300px;
        width: 100%;
        left: 0;
        z-index: 4;
        background: linear-gradient(to top, #151515, transparent);
    }

    & .about-me-container {
        padding: 3rem;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        align-items: center;
        justify-content: center;
        min-height: 100vh;

        & .about-me-content {

            margin: 2rem;
            color: #fff;

            & .about-me-title {
                font-weight: 600;
                font-size: 1.5rem;
                margin-bottom: 1rem;
                padding-bottom: .5rem;
                position: relative;
            }

            & .about-me-title::before {
                content: '';
                position: absolute;
                left: 0;
                bottom: 5px;
                width: 19%;
                height: 3px;
                background-color: #fff;
            }
        }

        & .imgContainer {
            margin: 15%;

            & .about-me-img {
                opacity: 0.6;
                width: 100%;
                transition: transform 0.8s ease, filter 1s ease;
            }
            & .about-me-img:hover {
                filter: drop-shadow(5px 5px 10px white);
                transform: scale(1.05);
            }
            & .about-me-img:active {
                pointer-events: none;
                border: 5px solid white;
                transform: scale(1.05);
                transition: border 0.2s ease, filter 1s ease;
            }
        }
    }
}

.work-exp-section {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #151515f0;
    z-index: -1;


    & .work-exp-background {
        position: absolute;
        height: 100vh;
        width: 100%;
        object-fit: fill;
        opacity: 0.4;
        z-index: 1;
    }

    & .shadow-work-exp-top{
        align-self: flex-start;
        background: linear-gradient(to bottom, #151515, transparent);
        position: absolute;
        height: 231px;
        width: 100%;
        left: 0;
        z-index: 2;
    }

    & .shadow-work-exp-bottom{
        align-self: flex-end;
        background: linear-gradient(to top, #151515, transparent);
        position: absolute;
        height: 231px;
        width: 100%;
        left: 0;
        z-index: 2;
    }

    & .work-exp-container {
        height: 90%;
        width: 100vw;
        color: white;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        z-index: 3;

        & .work-exp-list {
            list-style: none;
            display: flex;
            flex-direction: column;
            border-left: 4px solid #ffffff30;
            padding-left: 40px;
            max-width: 600px;
            width: 50%;
            height: 100%;
            justify-content: space-between;


            & .work-exp-item {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                position: relative;

                &::before {
                    content: "";
                    position: absolute;
                    left: -41px;
                    top: 0;
                    width: 15px;
                    height: 15px;
                    background-color: #000000;
                    border: 3px solid #ffffff87;
                    border-radius: 50%;
                    transform: translateX(-50%);
                }

                & .content {
                    display: flex;
                    align-items: flex-start;
                    flex-direction: column;
                    background-color: #1515157d;
                    padding: 7px 12px;
                    box-shadow: 5px 5px 5px rgb(0 0 0 / 49%);
                    margin-left: 30px;


                    & h3 {
                        color: #8ed233c4;
                    }
                }


                &:last-child::after {
                    display: none;
                }
            }
        }
    }
}

.skills-article {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
            "left right1"
            "left right2";
    align-items: center;
    justify-content: center;
    height: 100vh;
    background: #151515;
    color: white;

    & .skills-section {
        display: flex;
        height: 100%;
        grid-area: left;



        & .shadow-skills-top {
            align-self: flex-start;
            background: linear-gradient(to bottom, #151515, transparent);
            position: absolute;
            height: 231px;
            width: 100%;
            left: 0;
            z-index: 2;
        }

        & .shadow-skills-bottom {
            align-self: flex-end;
            background: linear-gradient(to top, #151515, transparent);
            position: absolute;
            height: 231px;
            width: 100%;
            left: 0;
            z-index: 2;
        }

        & .skills-container {
            display: flex;
            height: 100%;
            width: 100%;
            z-index: 3;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            & .hard-skills {
                margin: 5%;
                height: 26%;

                & .hard-table {
                    background-image: url("assets/leaves.jpg");
                    width: 60vw;
                    height: 100%;
                    border-collapse: collapse;

                    & thead{
                        height: 24%;
                        text-decoration: underline;
                    }

                    & td {
                        text-align: center;
                        border: 1px solid #151515;
                    }

                    & th {
                        border: 1px solid #151515;
                        background: linear-gradient(90deg, #151515 10%, transparent 60%, #151515 90%);
                    }

                    & tbody tr:nth-child(odd) {
                        background: linear-gradient(90deg, #151515 10%, #faebd754 60%, #151515 90%);
                    }

                    & tbody tr:nth-child(even) {
                        background: linear-gradient(90deg, #151515 10%, transparent 60%, #151515 90%);
                    }
                }
            }

            & .soft-skills {
                margin: 5%;
                height: 50%;

                & thead{
                    height: 14%;
                    text-decoration: underline;
                }

                & .soft-table {
                    background-image: url("assets/leaves.jpg");
                    height: 100%;
                    width: 60vw;
                    border-collapse: collapse;

                    & td {
                        text-align: center;
                        width: 100%;
                        border: 1px solid #151515;
                    }

                    & th {
                        border: 1px solid #151515;
                        background: linear-gradient(90deg, #151515 10%, transparent 60%, #151515 90%);
                    }


                    & tbody tr:nth-child(odd) {
                        background: linear-gradient(90deg, #151515 10%, #faebd754 60%, #151515 90%);
                    }

                    & tbody tr:nth-child(even) {
                        background: linear-gradient(90deg, #151515 10%, transparent 60%, #151515 90%);
                    }
                }
            }
        }
    }

    & .diploma-section{
        grid-area: right1;
        color: white;
        z-index: 3;
        & .year{
            margin-top: 5%;
        }
    }

    & .languages-section{
        grid-area: right2;
        color: white;
        z-index: 3;

        & .lang-title{
            text-decoration: underline;
            margin-bottom: 1%;
        }

        & p{
           margin-top: 1%;
        }
    }
}


.footer-section {
    height: 10vh;
    display: flex;
    background-color: #151515;
    color: white;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid white;

    & .footer-left {
        display: flex;
        margin-left: 15px;
    }

    & .footer-middle {
        display: flex;
    }

    & .footer-right {
        display: flex;
        margin-right: 15px;

        & .top-text {
            margin-left: 15px;
        }
    }
}



